*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.group1 .box{
  background: gold;
}
.group2 .box{
  background: rgb(61, 206, 45);
}
.group3 .box{
  background: rgb(226, 108, 30);
}
.group4 .box{
  background: rgb(19, 125, 97);
}
.group5 .box{
  background: rgb(12, 12, 99);
}
.group6 .box{
  background: rgb(94, 18, 82);
}
.group7 .box{
  background: rgb(87, 255, 140);
}
.group8 .box{
  background: rgb(232, 139, 255);
}
.group9 .box{
  background: rgb(30, 190, 180);
}
.group10 .box{
  background: rgb(255, 172, 95);
}
.group11 .box{
  background: rgb(255, 252, 238);
}
.group12 .box{
  background: rgb(191, 29, 255);
}
/* ^=시작하는 *=포함하는 $=끝나는 */
/* 모든 디바이스(모바일 포함) */
.container{
  background: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
}

div[class*="group"]{
  width: 100%;
  margin: 0;
}
/* width가 없으면 auto고 margin뺀게 실제 width */
.box{
  margin: 12px;
  height: 150px;
}
/* 768px 이상일 때(태블릿 정도) */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
  }

  div.group1,
  div.group4 {
    width: 100%;
  }
}
/* 1280px 이상일 때(데스크탑 정도) */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
  }

  div.group2 {
    order: 1;
  }

  div.group1,
  div.group12 {
    width: 75%;
  }
}